[submodule "pixsrl/deck.gl"]
	path = pixsrl/deck.gl
	url = https://github.com/uber/deck.gl.git
[submodule "sbt-spark-package"]
	path = sbt-spark-package
	url = https://github.com/databricks/sbt-spark-package.git
[submodule "spark-nlp"]
	path = spark-nlp
	url = https://github.com/darthsuogles/spark-nlp.git
[submodule "dlsys/mshadow"]
	path = dlsys/mshadow
	url = https://github.com/darthsuogles/mshadow.git
[submodule "dlsys/pyro"]
	path = dlsys/pyro
	url = https://github.com/darthsuogles/pyro.git
