# Emacs backup files
*~

target/
target/*

*.egg-info/

spark-warehouse/
metastore*/

.sbt
.Rhistory
pixsrl/cb_2016_us_county_20m/
*.rdf.gz

*.tar.gz
*.tgz
*.tar.bz2
*.tbz2
*.tar.xz

.ipy3
*.pyc
*.py~*
bazel-*
.DS_Store

*.jpg
*.png
*.log
*.onnx

spark/prebuilt/

# Dunno
dlsys/tnsrphlw/