[submodule "scala_template/sbt-spark-package"]
	path = scala_template/sbt-spark-package
	url = https://github.com/databricks/sbt-spark-package.git
[submodule "scala_template/spark-avro"]
	path = scala_template/spark-avro
	url = https://github.com/databricks/spark-avro.git
[submodule "scala_template/spark-corenlp"]
	path = scala_template/spark-corenlp
	url = https://github.com/databricks/spark-corenlp.git
